Este es un ejemplo de las variables que se podrian utilizar en el .env para
configurar nuestra base de datos


DATABASE_URL=
DATABASE_NAME=tasks_users_db
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=3306
APP_PORT=3000